# Lines starting with '#' are considered comments.

#Ignore xml
*.xml

# Ignore any file named foo.txt.
foo.txt
# Ignore byproducts of compiling latex files
*.aux
*.blg
*.log
*.out
*.gz
*.pdf
*.bbl

# Ignore plain text files
*.txt
# except these ones


# Ignore old versions
*~

# Ignore DSStore
*.DS_Store

#ignore large files
*.pkl
*.mat
*.npy
*.npz

#ignore err and out from bash
*.err
*.out

#ignore python C compilation files
*.pyc

#ignore powerpoints (these get too big)
*.pptx
*.ppt

#ignore code, codes, subfiguredirectories -- Sam's settings in samk-gradients

